cis2055-NemesysProject/.vs/
cis2055-NemesysProject/.vs/cis2055-NemesysProject/v16/.suo
cis2055-NemesysProject/cis2055-NemesysProject/bin/
cis2055-NemesysProject/cis2055-NemesysProject/obj/
/cis2055-NemesysProject/cis2055-NemesysProject/appsettings.json
