@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Unfortunately, the Nemesys Web App does not have a real email sender registered. However this is still required to fully register!
            <br />
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            <br />
            The link will redirect you back to the Home page to which you are then able to Login
        </p>
        <br />

        <img src="/images/missingemail.jpg" width="280" style="text-align: center;" />
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
